#query{
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 200px 0px 0px 700px;
}

#searchBtn{
    margin: -130px 0px 0px 1100px;
}

#menu {
    background-color: white;
    color: #2DB400;
}