#query{
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 200px 0px 0px 700px;
}

#searchBtn{
    margin: -130px 0px 0px 1100px;
}

.btn {
    background-color: #2DB400;
    color: white;
    text-decoration: none;
}

.open {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

p {
    display: none;
}